DATABASE_URL=postgresql+asyncpg://user:password@localhost:5434/smart_tracker

POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password
POSTGRES_DB=your_db_name
POSTGRES_PORT=5434

# Данные для подключения к серверу через SSH
# Оставьте пустыми для локальной разработки
SERVER_HOST=
SERVER_PORT=
SERVER_USER=
SERVER_PASSWORD=

# Секретный ключ для подписи JWT токенов
SECRET_KEY=your-super-secret-key-change-in-production
ALGORITHM=HS256

# Время жизни токенов
ACCESS_TOKEN_EXPIRE_MINUTES=30        # 30 минут
REFRESH_TOKEN_EXPIRE_DAYS=7           # 7 дней


# Настройки для отправки писем
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASSWORD=your-app-password
EMAIL_FROM=noreply@smarttracker.com


# Настройки подтверждения email
VERIFICATION_CODE_LENGTH=6             # Длина кода подтверждения
VERIFICATION_CODE_EXPIRE_MINUTES=10    # Время жизни кода
MAX_VERIFICATION_ATTEMPTS=5            # Макс. количество попыток ввода
RESEND_COOLDOWN_SECONDS=120             # Задержка между повторными отправками (2 минуты)