DATABASE_URL=postgresql+asyncpg://user:password@localhost:5434/smart_tracker?ssl=disable
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=
SERVER_HOST=
SERVER_PORT=
SERVER_USER=
SERVER_PASSWORD=